/* 支店一覧*/
/* PC */
.tablist-branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 60px auto;
}

.tablist-branch .tablist-item-branch {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.tablist-branch .tablist-item-branch:last-child {
    border-right: none;
}

.tablist-item-branch:hover a {
    color: #83CCD2;
    opacity: 0.8;
    text-decoration: underline;
}

.list-branch .list-item-branch {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.btn-branch {
    float: right;
}